# Google OAuth2 Credentials
# Erstelle deine Credentials unter: https://console.cloud.google.com/apis/credentials
# Anwendungstyp: Desktop App

GOOGLE_CLIENT_ID=YOUR_CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=YOUR_CLIENT_SECRET
